*{
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
}
BODY {
    font-size: 20pt; 
    color: #BB9D7E; 
    background-color: black;
	/* background-image: url('images/BAckground3test.jpg'); */
}
h1 {
    font-size: 32pt;
    font-family: sans-serif;
    color: #C4AF9A;	
	padding: 0px;
    margin: 0px;
}

a:hover{color:#ff299f;}

h2 {
    color: #C4AF9A;
    font-family: sans-serif;
	font-size: 25pt;
	padding: 0px;
    margin-bottom: 0px;
   }
h3 {
    font-family: sans-serif;
}
h4 {
    font-family: sans-serif;
}
p {
   padding: 0pt;
   margin: 0pt;
   }

li {   
   font-size: 15pt;
    margin-bottom: 5px;
}
a {
	color: #CF4D6F;
}

/* classes */

.newh1 {
    color: black;
}
.f12 {
 font-size: 12pt;
 }
 
.nogap{
	padding: 0px;
    margin: 0px;
}

