BODY {
    font-size: 18pt; 
    color: #43bf9a; 
	background-color: black;
	padding: 0px;
    margin: 0px;
	text-align: center;
}
h1 {
    font-size: 50pt; 
    color: ;  
	padding: 0px;
    margin: 0px;
	text-align: center;
}
ul {
	 list-style-type: none;
	 margin: 10px;
	 padding-bottom: 10px;
}
	
a {
	color: yellow;
}
