BODY {
    font-size: 20pt; 
    color: black; 
	background: #bfffea;
    margin: 0px;
}
h1 {
    font-size: 32pt; 
    color: black;  
	padding: 0px;
    margin: 0px;
}

			
h2 {
    color: black;  
	font-size: 25pt;
	padding: 0px;
    margin-bottom: 0px;
   }
p {
   padding: 0pt;
   margin: 0pt;
   }

li {
	font-size: 15pt;
	padding: 0px;
	margin: 0px;
	float: center;
}
h4 {
    margin-top: 25px;
	margin-bottom: 0px;
	}
ul {
	margin: 0px;
}

a {
	color: #0f4533;
}

/* classes */

.f12 {
 font-size: 12pt;
 }
 
.pictueright{
	float: right;
    margin-right: 10pt;
	padding: 0pt;
}
footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}
.nogap{
	padding: 0px;
    margin: 0px;
}
.flc {
    float: left;
	}

